.page {
  display: flex;
  gap: var(--space-64);
  align-items: flex-start;
  margin-top: var(--space-48);
}

.list {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  gap: var(--space-32);
}

.loadMore {
  display: flex;
  justify-content: center;
  margin-top: var(--space-32);
}
