.spinner {
  --loader-size: var(--space-40);

  width: var(--loader-size);
  height: var(--loader-size);
  border: 3px solid var(--color-input);
  border-top-color: var(--color-brand-hover);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
