.badge {
  display: inline-flex;
  align-items: center;
  gap: var(--space-8);
  padding: var(--space-12) var(--space-18);
  background-color: var(--color-badge);
  border-radius: var(--radius-badge);
  color: var(--color-main);
}
