.state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-16);
  width: var(--layout-state-card-width);
  height: var(--layout-state-card-height);
  padding-inline: var(--space-64);
  text-align: center;
  background-color: var(--color-input);
  border-radius: var(--radius-card);
}

.illustration {
  width: var(--layout-empty-illustration-width);
  height: var(--layout-empty-illustration-height);
}

.subtitle {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  color: var(--color-main);
}

.buttons {
  display: flex;
  gap: var(--space-16);
  margin-top: var(--space-16);
}

.clearButton {
  gap: var(--space-4);
  background-color: var(--color-white);
}
