.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
}

.content {
  padding-inline: var(--space-64);
}
