.card {
  display: flex;
  gap: var(--space-24);
  padding: var(--space-24);
  background-color: var(--color-input);
  border-radius: var(--radius-card);
}

.picture {
  flex-shrink: 0;
  width: var(--layout-card-image-width);
  height: var(--layout-card-image-height);
  object-fit: cover;
  border-radius: var(--radius-card);
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-24);
  min-width: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-24);
}

.name {
  overflow: hidden;
  min-width: 0;
  color: var(--color-main);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.price {
  flex-shrink: 0;
  color: var(--color-main);
}

.details {
  display: flex;
  align-items: center;
  gap: var(--space-16);
}

.description {
  display: -webkit-box;
  overflow: hidden;
  color: var(--color-text);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8);
}
