.card {
  display: flex;
  gap: var(--space-24);
  padding: var(--space-24);
  background-color: var(--color-input);
  border-radius: var(--radius-card);
}

.picture {
  flex-shrink: 0;
  width: var(--layout-card-image-width);
  height: var(--layout-card-image-height);
  border-radius: var(--radius-card);
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-24);
  min-width: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  gap: var(--space-24);
}

.details {
  display: flex;
  gap: var(--space-16);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.badges {
  display: flex;
  gap: var(--space-8);
}

.badge {
  border-radius: var(--radius-badge);
}

.button {
  border-radius: var(--radius-pill);
}
